@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline {
  --font-sans: var(--inter), sans-serif;
  --color-background: #14272b;
  --color-background-secondary: #232a2b;
  --color-text: #ece8df;
  --color-text-secondary: #8fa3b5;
  --color-text-tertiary: #2d3740;
  --color-highlight: #d9a441;
}

html {
  @apply scroll-pt-24;
  @apply scroll-smooth;
  @apply bg-background text-text;
}

h1 {
  @apply text-5xl md:text-6xl lg:text-6xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}